 <div class="container">
     <div class="row">
        <h4 class="white"><i class="fa fa-briefcase"></i> Toolbox</h4>
     </div>
     <div class="row">
     <ul class="list-group">
         <li class="list-group-item list-group-item-danger">
             <h4><a href="gradeselector.html" class="load-view text-left"><i class="fa fa-clipboard"></i> Grade Selector</a></h4>
         </li>
         <li class="list-group-item list-group-item-danger">
             <h4><a href="calculator.html" class="load-view text-left"><i class="fa fa-calculator"></i> Conversion Calculator</a></h4>
         </li>
         <li class="list-group-item list-group-item-danger">
             <h4><a href="designersguide/index.html" class="load-view text-left"><i class="fa fa-file"></i> Carbide Designers Guide</a></h4>
         </li>
     </ul>
     </div>
 </div>
<div class="container">
    <div class="row">
        <div id="splash-account">
        <ul class="list-group">
            <li class="list-group-item">
                <h4><i class="fa fa-user"></i> <strong>Sign In </strong></h4>
            </li>
            <li class="list-group-item">
               <form id="login-form" role="form">
                   <div class="error-messages"></div>
                   <div class="form-group">
                     <label for="exampleInputEmail1">Email</label>
                     <input type="email" class="form-control" id="email" name="email" placeholder="Example@email.com">
                   </div>
                   <div class="form-group">
                     <label for="exampleInputPassword1">Password <a href="forgot.html" class="load-view red">(forgot password)</a></label>
                     <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                   </div>
                  <button class="ui-element btn btn-danger" type="submit" data-form="login-form" data-action="post">Sign In</button> <a href="register.html" class="load-view btn btn-primary">Register</a>
               </form>
            </li>
        </ul>
       </div>
    </div>
</div>

<div class="clearfix"></div>