<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a class="white pull-right" data-dismiss="modal" href="#" aria-label="Close"><i class="fa fa-times"></i></a>
            <h4 class="modal-title" id="notificationHeader"><i class="fa fa-2x fa-download"></i> Gradesheet Download</h4>
            <span class="clearfix"></span>
        </div>
        <div class="modal-body">
            <p>You have selected the following:</p>
            <div class="table-responsive">
                <table class="table table-striped selections"></table>
            </div>
            <p class="selections red"></p>
            <div class="table responsive">
                <table class="table table-striped gradesheets"><tr><th class="text-left"><i class="fa fa-paperclip"></i> Gradesheets Selected</th></tr></table>
            </div>
            <form id="gcgs-form" action="" name="gcgs-form">
                <div class="col-lg-12">
                    <p>Please fill out the information below.  Your gradesheets will be e-mailed to you upon submission.</p>
                </div>
                <div class="col-lg-12">
                    <div class="error-messages"></div>
                </div>
                <div class="form-group col-lg-12">
                        <label>First Name</label>
                        <input type="text" name="first_name" class="first_name form-control" id="first_name" placeholder="First Name">
                </div>
                <div class="form-group col-lg-6">
                        <label>Last Name</label>
                        <input type="text" name="last_name" class="last_name form-control" id="last_name" placeholder="Last Name">
                </div>
                 <div class="form-group col-lg-6">
                        <label>Company</label>
                        <input type="text" name="company" class="company form-control" id="company" placeholder="Company">
                </div>
                <div class="form-group col-lg-6">
                    <label>Email Address <em>(Your gradesheet(s) will be e-mailed to)</em></label>
                        <input type="email" name="email" class="email form-control" id="email" placeholder="Email@example.com">
                </div>
                <div class="col-sm-6"> 
                    <button class="ui-element btn btn-primary" data-form="gcgs-form" data-action="post">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>