<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="notificationHeader"><i class="fa fa-2x fa-lock"></i> Change Password</h4>
        </div>
        
        <div class="modal-body">
            
                        <form id="change-password" action="" name="change-password">
                            <div class="col-lg-12">
                                <div class="error-messages"></div>
                            </div>
                            <div class="form-group col-lg-12">
                                    <label>Current Password</label>
                                    <input type="password" name="password" class="password form-control" id="password" placeholder="Current Password">
                            </div>
                            <div class="form-group col-lg-12">
                                <hr />
                            </div>
                            <div class="form-group col-lg-6">
                                    <label>New Password</label>
                                    <input type="password" name="new_password" class="cnew_password form-control" id="new_password" placeholder="New Password">
                            </div>
                           <div class="form-group col-lg-6">
                                    <label>Confirm New Password</label>
                                    <input type="password" name="cnew_password" class="cnew_password form-control" id="cnew_password" placeholder="Confirm New Password">
                            </div>
                            <div class="col-sm-6">
                                <button class="ui-element btn btn-primary" data-form="change-password" data-action="post">Change Password</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
            
        </div>
    </div>
</div>