<div class="container">
    <div class="row">
        <h4 class="white"><i class="fa fa-briefcase"></i> Toolbox</h4>
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger">
                <h4><a href="gradeselector.html" class="load-view text-left"><i class="fa fa-clipboard"></i> Grade Selector</a></h4>
            </li>
            <li class="list-group-item list-group-item-danger">
                <h4><a href="calculator.html" class="load-view text-left"><i class="fa fa-calculator"></i> Conversion Calculator</a></h4>
            </li>
            <li class="list-group-item list-group-item-danger">
                <h4><a href="designersguide/index.html" class="load-view text-left"><i class="fa fa-file"></i> Carbide Designers Guide</a></h4>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="splash-account">
            
            <h4 class="pull-left white"><i class="fa fa-user"></i> My Account</h4>
            <h4 class="pull-right"><span class="white ui-element" data-action="logout"><i class="fa fa-2x fa-power-off"></i></span></h4>
            <span class="clearfix"></span>
            
            <div id="account-notifications" class="hide">
                
                <h4 class="white"><i class="fa fa-bell"></i> Notifications</h4>
                
                <ul class="list-group">
                    
                </ul>
                
            </div>
            
            <ul class="list-group">
                <li class="list-group-item">
                    <small><strong><span class="email"><i class="fa fa-spinner fa-spin"></i> Loading...</span></strong></small>
                </li>
                <li class="list-group-item">
                    Account Level <span class="badge">Level <i class="ui-widget usage_level"></i></span> <a class="level-up red" href="#" data-toggle="tooltip"> <i class="level-up fa fa-question-circle"></i></a>
                </li>
                <li class="list-group-item">
                    <strong>Profile</strong>
                    <span class="pull-right">
                        <span class="label label-primary ui-element" data-action="modify" data-form="profile"><i class="fa fa-edit"></i>  Edit</span>
                    </span>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    Name:
                    <span class="badge">
                        <span class="first_name">
                            <i class="fa fa-spinner fa-spin"></i> Loading...
                        </span>
                        <span class="last_name"></span>
                    </span>
                </li>
                <li class="list-group-item">
                    Company:
                    <span class="badge">
                        <span class="company"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
                    </span>
                </li>
                <li class="list-group-item">
                    Industry:
                    <span class="badge">
                        <span class="industry_id"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
                    </span>
                </li>
                <li class="list-group-item">
                    Phone:
                    <span class="badge">
                        <span class="phone"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
                    </span>
                </li>
                <li class="list-group-item">
                    <strong>Security</strong>
                    <span class="pull-right">
                        <span class="label label-primary ui-element" data-action="modify" data-form="password"><i class="fa fa-lock"></i> Change Password</span>
                    </span>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <p><i class="fa fa-clipboard"></i> My Gradesheets</p>
                    <small>Listed below are the gradesheets you have downloaded.  If you need to re-download, please select the gradesheets you require, and hit "Request."</small>
                    <div class="table-responsive">
                        <table class="table table-striped my_gradesheet">
                            
                        </table>
                    </div>
                </li>
                
            </ul>
            <span class="clearfix"></span>
        </div>
    </div>
</div>

<div class="clearfix"></div>

