 <div class="well">
     <h4>Toolbox</h4>
     <div class="row col-lg-12 text-left">
         <a href="gradeselector.html" class="load-view text-left btn btn-override btn-danger btn-block"><span class="glyphicon glyphicon-chevron-right"></span> Grade Selector</a>
     </div>
     <div class="row col-lg-12 text-left">
         <a href="calculator.html" class="load-view text-left btn btn-override btn-danger btn-block"><span class="glyphicon glyphicon-chevron-right"></span> Conversion Calculator</a>
     </div>
     <div class="row col-lg-12 text-left">
         <a href="designersguide.html" class="load-view text-left btn btn-override btn-danger btn-block"><span class="glyphicon glyphicon-chevron-right"></span> Carbide Designers Guide</a>
     </div>
</div>
<div class="well" id="splash-account">
    
    <h4 class="pull-left"><i class="fa fa-user"></i> My Account</h4>
    <a href="#" class="pull-right red ui-element" data-action="logout"><i class="fa fa-2x fa-power-off"></i></a>
    <span class="clearfix"></span>
    
    <div id="account-notifications" class="hide">
        
        <i class="red fa fa-exclamation-triangle"></i> Alerts
        
            <ul class="list-group">

            </ul>
        
    </div>
    
    <ul class="list-group">
        <li class="list-group-item">
            <small><strong><span class="email"><i class="fa fa-spinner fa-spin"></i> Loading...</span></strong></small>
        </li>
        <li class="list-group-item">
            Account Level <span class="badge">Level <i class="ui-widget usage_level"></i></span> <a class="level-up red" href="#" data-toggle="tooltip"> <i class="level-up fa fa-question-circle"></i></a> 
        </li>
        <li class="list-group-item">
            Profile
           <span class="pull-right">
               <span class="label label-primary"><a href="#" class="ui-element" data-action="modify" data-form="profile"><i class="fa fa-edit"></i>  Edit</a></span>
           </span>
           <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
            <small>Name:</small>
            <span class="badge">
            <span class="first_name">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </span>
            <span class="last_name"></span>
            </span>
        </li>
        <li class="list-group-item">
            <small>Company:</small> 
            <span class="badge">
                <span class="company"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
            </span>
        </li>
        <li class="list-group-item">
            <small>Phone:</small>
            <span class="badge">
                <span class="phone"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
            </span>
        </li>
        <li class="list-group-item">
            Security
            <span class="pull-right">
                <span class="label label-primary">
                    <a href="#" class="ui-element" data-action="modify" data-form="password">
                        <i class="fa fa-lock"></i> Change Password
                    </a>
                </span>
            </span>
            <span class="clearfix"></span>
        </li>
       
    </ul>
    <span class="clearfix"></span>
</div>

<div class="clearfix"></div>

 