<div class="col-xs-12">
    <div class="well">
        <h4>Conversion Calculator</h4>
        
        <p><strong>Units</strong></p>
        <small>Please choose a conversion method.</small>
        
        <div class="col-xs-12">
            <textarea class="calculator-output form-control"></textarea>
        </div>
        
        <div class="col-xs-12 text-center calculator">
                <div class="row">
                    <ul class="list-inline transparent">
                        <li class="btn btn-danger">+</li>
                        <li class="btn btn-danger">-</li>
                        <li class="btn btn-danger">x</li>
                        <li class="btn btn-danger">&divide;</li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="list-inline transparent">
                        <li class="btn btn-danger">9</li>
                        <li class="btn btn-danger">8</li>
                        <li class="btn btn-danger">7</li>
                        <li class="btn btn-danger">C</li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="list-inline transparent">
                        <li class="btn btn-danger">6</li>
                        <li class="btn btn-danger">5</li>
                        <li class="btn btn-danger">4</li>
                        <li class="btn btn-danger">.</li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="list-inline transparent">
                        <li class="btn btn-danger">3</li>
                        <li class="btn btn-danger">2</li>
                        <li class="btn btn-danger">1</li>
                        <li class="btn btn-danger">=</li>
                    </ul>
                </div>
            <div class="row">
                    <ul class="list-inline transparent">
                        <li class="btn btn-danger">0</li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
        </div>
        
        
        <div class="clearfix"></div>
       
    </div>
</div>